.navbar{
    background-color:#24bef2;
   
   
    
}
nav  div ul li a :hover   {
    border-bottom:  dotted;
}

.nav-item{
    padding: 4% 4%;
    
    
}
.txt{
    color: white;
}
#header{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 0.5%;
    margin-right: 1.5%;

}
