*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
  
}
body{
    background-image: linear-gradient(#00ABE4, #E9F1FA);
    color: white;
}


.header2{
    margin: 2% 3%;
}

.name{
   font-size: 60px;
 
}
.greet{
    font-size: 30px;
}

.photo{

    width: 60%;

    border-radius: 10%;
    margin-left: 23%;
 
   
  
    
}
.footer-link{
    padding: 15px 30px;
    text-decoration: none;
    
    color:white;
    font-size: 25px;
    
}

.footer-link:hover{
    color: black;

}


.thrid{
    
    
    
    background-color:#00ABE4;
    text-decoration: none;
    font-size: 20px;

}

.wapper{

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg);
}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8) ;

}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 6%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(9){
    top: 80%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(11){
    top: 40%;
    left: 60%;
    animation: animate 13s linear infinite;
}
.box div:nth-child(12){
    top: 10%;
    left: 96%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(13){
    top: 35%;
    left: 90%;
    animation: animate 7s linear infinite;
}
@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
    
}
